* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 215, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.textMain {
    margin: 0;
    padding: 0;
}

.textMain p {
    padding: 80px 0px 0px 80px;
    justify-content: center;
    font-size: 1.75rem;
}

.cafeimagen img {
    width: 100%;
    height: 25vw;
    padding: 50px;
    object-fit: cover;
    display: block;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logoimg {
    background-color: #F8F1E9;
    display: flex;
    justify-content: center;
}

.logoimg img {
    width: 110px;
    height: 110px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: rgb(121, 121, 121);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: #fff9a7;
}

.nav-bar ul li a.active {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.cafefacts {
    margin: 0;
    padding: 0;
}

.cafefacts h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
}

.cafefacts p {
    padding: 30px 30px;
    justify-content: center;
    font-size: 1.5rem;
}

.cafeimg img {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-right: 80px;
    object-fit: cover;
    display: flex;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    display: block;
}

footer p {
    font-size: 1.25rem;
    padding: 12px;
}

#contact h2 {
    text-align: center;
}

.padding {
    padding: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid [class*="stretch"] {
    align-self: stretch;
}

.grid .col-1 {
    flex: 0 0 calc(100%/12);
}

.grid .col-2 {
    flex: 0 0 calc(100%/6);
}

.grid .col-3 {
    flex: 0 0 calc(100%/4);
}

.grid .col-4 {
    flex: 0 0 calc(100%/3);
}

.grid .col-5 {
    flex: 0 0 calc(100%/12*5);
}

.grid .col-6 {
    flex: 0 0 calc(100%/2);
}

.grid .col-7 {
    flex: 0 0 calc(100%/12*7);
}

.grid .col-8 {
    flex: 0 0 calc(100%/12*8);
}

.grid .col-9 {
    flex: 0 0 calc(100%/12*9);
}

.grid .col-10 {
    flex: 0 0 calc(100%/12*10);
}

.grid .col-11 {
    flex: 0 0 calc(100%/12*11);
}

.grid .col-12 {
    flex: 0 0 100%;
}

/* Pagina de About Us */

.info1 h2 {
    text-align: center;
    font-size: 2.5rem;
}

.info1 p {
    text-align: center;
    padding-left: 20px;
    margin: 0;
    font-size: 2rem;
}

.info2 h2 {
    text-align: center;
    font-size: 2.5rem;
}

.info2 p {
    text-align: center;
    justify-content: center;
    padding-right: 20px;
    margin: 0;
    font-size: 2rem;
}

@media only screen and (max-width: 1480px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        margin: 6px 0;
    }
 
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(255, 255, 255);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 65px;
    }

    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(0, 0, 0);
    }
}

@media only screen and (max-width: 1167px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(255, 255, 255);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 125px;
    }

    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        margin: 16px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(0, 0, 0);
    }
}

@media only screen and (max-width: 599px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(255, 255, 255);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 600px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 25px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(0, 0, 0);
    }
}