* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #363a43;
}

nav h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #ffffff;
    padding: 0;
    font-size: 2rem;
}

.logo {
    display: flex;
}

.logo img {
    align-items: flex-start;
    width: 110px;
    height: 110px;
    border-radius: 10%;
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 2rem;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.5em 0.5em;
    color: #9fa5b5;
    position: absolute;
    left: 59%;
    width: 149px;
    transform: translateX(50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menu li:hover {
    background: #2a2d35;
}

.menu-open {
    display: block;
    opacity: 1;
    top: 106px;
}

.active {
    background: #23242a;
}

.menu1 {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.5em 0.5em;
    color: #9fa5b5;
    position: absolute;
    left: 1518px;
    width: 326px;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu1 li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu1 a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menu1 li:hover {
    background: #2a2d35;
}

.menu1-open {
    display: block;
    opacity: 1;
    top: 106px;
}

.select1 {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 2rem;
}

.select1-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select1:hover {
    background: #323741;
}

.caret1 {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret1-rotate {
    transform: rotate(180deg);
}

.active1 {
    background: #23242a;
}

.menu2 {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.5em 0.5em;
    color: #9fa5b5;
    position: absolute;
    left: 1801px;
    width: 236px;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu2 li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu2 a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menu2 li:hover {
    background: #2a2d35;
}

.menu2-open {
    display: block;
    opacity: 1;
    top: 106px;
}

.select2 {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 2rem;
}

.select2-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select2:hover {
    background: #323741;
}

.caret2 {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret2-rotate {
    transform: rotate(180deg);
}

.active2 {
    background: #23242a;
}

.header {
    display: flex;
    justify-content: flex-start;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #2a2f3b;
}

header nav .logo {
    padding: 20px;
    align-self: center;
}

header nav h1 {
    align-self: center;
    font-size: 3rem;
}

header nav ul {
    list-style-type: none;
}

.hero {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: auto;
}

.hero .textContent {
    position: absolute;
    right: 50%;
    top: 20%;
    transform: translateX(50%);
    text-shadow: 2px 2px 4px #000000;
}

.hero .textContent h2 {
    font-size: 8rem;
    margin: 0;
    padding: 0;
    color: #3f83e9;
    text-align: center;
    background-color: transparent;
}

.hero .boxmodel {
    width: 100%;
    height: 75%;
    padding: 0px;
    margin: 0px;
}

.hero .boxmodel img {
    width: 100%;
    height: 60vw;
    object-fit: cover;
    display: block;
}

.cafefacts {
    margin: 0;
    padding: 0;
}

.cafefacts h2 {
    font-size: 3rem;
    text-align: center;
}

.cafefacts p {
    margin: 0.75rem;
    padding: 0.75rem;
    justify-content: center;
    font-size: 2rem;
}

.cafeimg img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    display: block;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1.5rem;
    margin: 0;
    padding: 6px;
}

#contact h2 {
    text-align: center;
}

.padding {
    padding: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid [class*="col-"] {
}

.grid [class*="stretch"] {
    align-self: stretch;
}

.grid .col-1 {
    flex: 0 0 calc(100%/12);
}

.grid .col-2 {
    flex: 0 0 calc(100%/6);
}

.grid .col-3 {
    flex: 0 0 calc(100%/4);
}

.grid .col-4 {
    flex: 0 0 calc(100%/3);
}

.grid .col-5 {
    flex: 0 0 calc(100%/12*5);
}

.grid .col-6 {
    flex: 0 0 calc(100%/2);
}

.grid .col-7 {
    flex: 0 0 calc(100%/12*7);
}

.grid .col-8 {
    flex: 0 0 calc(100%/12*8);
}

.grid .col-9 {
    flex: 0 0 calc(100%/12*9);
}

.grid .col-10 {
    flex: 0 0 calc(100%/12*10);
}

.grid .col-11 {
    flex: 0 0 calc(100%/12*11);
}

.grid .col-12 {
    flex: 0 0 100%;
}

/* Media Queries y Cols */

/* @media (max-width: 480px) {

    header {
        flex-direction: row;
    }

    header nav ul li {
        display: block;
    }

    .hero .textContent {
        display: inline;

    }

    .hero .textContent h2 {
        font-size: 2rem;
    }

    .hero .textContent p {
        font-size: 1.5rem;
        padding: 0.5rem;
        max-width: 500px;
    }

    .dropdown {
        flex-grow: 1;
    }

    .menu-open {
        top: 88px;
    }

    .menu {
        width: 28%;
    }

    .menu a {
        font-size: 1rem;
    }

    .menu1-open {
        top: 88px;
    }

    .menu1 {
        width: 42%;
        left: 49%;
    }

    .menu1 a {
        font-size: 1rem;
    }

    .menu2-open {
        top: 88px;
    }

    .menu2 {
        left: 86%;
        width: 32%;
    }

    .menu2 a {
        font-size: 1rem;
    }


} */

/* Media Queries for 320px */
@media (max-width: 320px) {
    header h1 {
        font-size: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media Queries for 640px */
@media (min-width: 321px) and (max-width: 640px) {
    header h1 {
        font-size: 2.2rem;
    }
    .menu {
        left: 7%;
        width: 35%;
    }
    .menu1 {
        left: 50%;
        width: 45%;
    }
    .menu2 {
        left: 93%;
        width: 30%;
    }
}

/* Media Queries for 1024px */
@media (min-width: 641px) and (max-width: 1024px) {
    header h1 {
        font-size: 2.5rem;
    }
    .menu {
        left: 9%;
        width: 28%;
    }
    .menu1 {
        left: 45%;
        width: 40%;
    }
    .menu2 {
        left: 86%;
        width: 29%;
    }
}

/* Media Queries for 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
    header h1 {
        font-size: 2.8rem;
    }
    .menu {
        left: 11%;
        width: 24%;
    }
    .menu1 {
        left: 45%;
        width: 38%;
    }
    .menu2 {
        left: 86%;
        width: 28%;
    }
}
